<button (click)="backToTop.emit()" class="fixed bottom-8 right-8 bg-[#292639] dark:bg-gray-200 text-white dark:text-[#292639] w-12 h-12 rounded-full flex items-center justify-center shadow-lg hover:bg-opacity-80 dark:hover:bg-gray-300 transition-all duration-300 transform hover:scale-110 z-30">
    <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
    </svg>
</button>
